## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [2]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')

df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [3]:
# View the column names in the data
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [4]:
# Use the describe function to gather some basic statistics

print(df.describe())

          client_id      order_id    order_week    order_year    unit_price  \
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000

          unit_cost   unit_weight           qty   line_number
count  54639.000000  54639.000000  5.463900e+04  54639.000000
mean      99.446073      5.004116  5.702646e+02      2.979667
std      133.164267      5.326599  1.879552e+04      2.436320
min        0.010000      0.000000  0.000000e+00      0.000000
25%       14.840000      1.450000  3.200000e+01      1.000000
50%       49.890000      3.240000  6.800000e+01      3.000000
75%      125.570000      6.890000  1.700000e+02      5.000000
max      846.270000     46.430000  3.958244e+06      9.000000

In [4]:
# Use this space to do any additional research
# and familiarize yourself with the data.

In [5]:
# What three item categories had the most entries?
df.sort_values(by='category', ascending=False)
df.groupby('category').sum()
df.groupby('category').size().sort_values(ascending=False).head(3)

category
consumables    23538
furniture      11915
software        8400
dtype: int64

In [6]:
# For the category with the most entries,
# which subcategory had the most entries?
df.sort_values(by='category', ascending=False)
df.groupby('category').sum()
df.groupby('category').size().sort_values(ascending=False).head(3)
df.groupby('subcategory').size().sort_values(ascending=False).head(1)

subcategory
bathroom supplies    6424
dtype: int64

In [7]:
# Which five clients had the most entries in the data?

df.sort_values(by='client_id', ascending=False)
df.groupby('client_id').sum()
df.groupby('client_id').size().sort_values(ascending=False).head(5)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
dtype: int64

In [9]:
# Store the client ids of those top 5 clients in a list.
top_clients = [33615, 66037, 46829, 32378,24741]
print("Client IDs of the top 5 clients:", top_clients)

Client IDs of the top 5 clients: [33615, 66037, 46829, 32378, 24741]

In [4]:
# How many total units (the qty column) did the
# client with the most entries order order?

client_entry_counts = df['client_id'].value_counts()
top_clients = client_entry_counts.idxmax()
most_entries_df = df[df['client_id'] == client_with_most_entries]
total_units_ordered = most_entries_df['qty'].sum()
print("Total units ordered by the client with the most entries:", total_units_ordered)

NameError: name 'df' is not defined

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [14]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty
client_spend = df.groupby('client_id')['subtotal'].sum()
print("Client 66037 spent more money than client 33615.")

NameError: name 'df' is not defined

In [15]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.

df['shipping_price'] = df['weight'].apply(lambda x: 7 if x > 50 else 10)

NameError: name 'df' is not defined

In [23]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%
df['total_price'] = df['subtotal'] + df['shipping']
sales_tax_rate = 0.0925
df['sales_tax'] = df['total_price'] * sales_tax_rate
df['total_price'] += df['sales_tax']
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

NameError: name 'df' is not defined

In [26]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).

df.sort_values(by='client_id', ascending=False)
df.groupby('client_id').sum()
df.groupby('client_id').size().sort_values(ascending=False)
total_units_ordered == weight>50 + 7 .sum()

NameError: name 'df' is not defined

In [28]:
# Create a column for the profit of
# each line using line cost and line price
# Assuming 'line_cost' and 'line_price' are columns in your DataFrame
df['profit'] = df['line_price'] - df['line_cost']
print(df.head())

NameError: name 'df' is not defined

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [15]:
# Check your work using the totals above

Order 2742071 total: $152811.89
Order 2173913 total: $162388.71
Order 6128929 total: $923441.25

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [16]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.
df.sort_values(by='client_id', ascending=False)
df.groupby('client_id').sum()
df.groupby('client_id').size().sort_values(ascending=False).head(5)

33615: $8377308.52
66037: $10259514.79
46820: $9743794.36
38378: $12906550.87
24741: $82268892.02

In [17]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.
top_clients = (top_clients) * (total_units_ordered) + shipping

   client_id     qty  shipping_price   line_price    line_cost  line_profit
4      24741  239862      5126448.37  82268892.02  45688899.71  36579992.31
3      38378   73667      3429455.40  12906550.87   9634720.98   3271829.89
1      66037   43018      1395151.85  10259514.79   7004482.98   3255031.81
2      46820   75768      1601448.84   9743794.36   7007191.64   2736602.72
0      33615   64313      1828984.89   8377308.52   6175313.91   2201994.61

In [35]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

'Client ID',
'Shipping ($M)',
'Total Revenue ($M)',
'Total Cost ($M)',
'Total Profit ($M)'

'Total Profit ($M)'

In [19]:
# Sort the updated data by "Total Profit" form highest to lowest
df_sorted = df.sort_values(by='Total Profit', ascending=False)

   Client ID   Units Shipping Total Revenue Total Cost Total Profit
4      24741  239862   $5.13M       $82.27M    $45.69M      $36.58M
3      38378   73667   $3.43M       $12.91M     $9.63M       $3.27M
1      66037   43018   $1.40M       $10.26M     $7.00M       $3.26M
2      46820   75768   $1.60M        $9.74M     $7.01M       $2.74M
0      33615   64313   $1.83M        $8.38M     $6.18M       $2.20M